body {
  box-sizing: border-box;
}

/* .form-container {
  width: 100px;
}

@media (min-width: 428px) {
  .form-container {
    width: 100%;
  }
} */
/* @media (max-width: 1280px) {
  .form-container {
    width: 25%;
  }
} */
